body{
    margin:0px;
    background: linear-gradient(#1af3 150px,#1aff)fixed;
}


.header{
    background-color: #1af7;
    width:auto;
    height:50px;
}

.header h2{
    margin:0px;
    font-size: 28px;
}
