<!DOCTYPE html>
<html>

<head>
    <meta http-euiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
</head>

<body>
    <div class="header">
        <h2>{{ page.top }}</h2>
        <a href="/backlog_home">BACKLOG</a>
        <a href="/making">MAKING</a>
        <a href="/">HOME</a>
    </div>
    {{ content }}
</body>

</html>