<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
        <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
    </head>
    <body id="main-body">
        <div class="header" id="main-header">
        <h2>{{ page.top }}</h2>
        <i class="icono-sun" id="target" style="color:#ddd;position:absolute;right:8px;top:4px;"></i>
        <script>
        let element = document.getElementById("target");
        let a = element.className;
        let body = document.getElementById("main-body");
        let head = document.getElementById("main-header");

        (function(){
            element.onclick = function(){
                if(a == "icono-moon"){
                    element.className = "icono-sun";
                    a = element.className;

                    body.style.background = "linear-gradient(160deg,#1af3 120px,#1aff)fixed";
                    head.style.background = "linear-gradient(170deg, #FFF 1px, #1af7)";
                    body.style.color = "#000";
                }
                else{
                    element.className = "icono-moon";
                    a = element.className;

                    body.style.background = "radial-gradient(circle at left top, rgba(255, 255, 170, 0.2) 10px, rgb(255, 255, 102) 50px, rgb(1, 0, 0) 230px, rgb(0, 0, 0) 104px) fixed";
                    head.style.background = "linear-gradient(170deg, #ff6d 1px, #111c)"
                    body.style.color = "#fff";
                }
            }
        })();
        </script>
        </div>
        <div class="main" id="content">
        {{ content }}
        </div>
        <script>
            //alert('js test!');
        </script>
    </body>
</html>
